.qualification {
  margin: 0 6rem 6rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 0.6fr 1fr;
  grid-template-areas: "pane_2 pane_1";

  .pane_1 {
    grid-area: pane_1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pane_2 {
    grid-area: pane_2;
  }
}

.qualification_header {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: right;
}

.q_img {
  width: 100%;
  box-shadow: 2px 2px 8px 2px (gray);
}

.q_header {
  font-size: 2rem;
}

.q_text {
  margin-bottom: 4rem;
}

.q_date {
  font-style: italic;
  font-size: 1.5rem;
}

// Small devices (portrait phones, less than 576px)
@media (max-width: 767.98px) {
  .qualification {
    margin: 0 0.2rem 4rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas: "pane_2" "pane_1";

    .pane_1 {
      text-align: center;
    }
  }

  .qualification_header {
    text-align: center;
  }

  .q_header {
    font-size: 1.8rem;
  }

  .q_date {
    font-size: 1.2rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
